<h1 mat-dialog-title>Type an email of your friend:</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Email:</mat-label>
    <input matInput [(ngModel)]="this.emailAddress">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button (click)="sendEmail()" cdkFocusInitial>Share post</button>
</div>