<mat-card *ngIf="!this.postEditMode && !this.isDeleted" [ngClass]="{'post-with-comments': showComments}">
  <mat-card-header>
    <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
    <mat-card-title>{{post.author.userName}}</mat-card-title>
    <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
    <div *ngIf="currentUser && post.author.userName === currentUser.userName">
      <button mat-icon-button matTooltip="Edit a post" (click)="toggleEditMode()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Delete a post" (click)="deletePost()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
  <mat-card-content>
    <p>{{post.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <div class="users-liked" *ngIf="getUsersLikedPost()" (click)="openLikedDialog()">
      <div *ngIf="users.length <= shownUsers">
        <img mat-card-avatar *ngFor="let user of users" src="{{user.avatar}}" alt="Avatar" matTooltip="{{user.userName}}" >
      </div>
      <div *ngIf="users.length > shownUsers">
        <img mat-card-avatar *ngFor="let user of users.slice(users.length-shownUsers,users.length)" matTooltip="{{user.userName}}" src="{{user.avatar}}" alt="Avatar">
        <span matBadge="+{{users.length-shownUsers}}" matBadgePosition="after" matBadgeColor="accent"></span>
      </div>
  </div>
    <button mat-icon-button color="primary" (click)="likePost()">
      <mat-icon matBadge="{{getLikes()}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="getLikes() === 0" aria-label="Like">favorite</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="dislikePost()">
      <mat-icon matBadge="{{getDislikes()}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="getDislikes() === 0" aria-label="Dislike">thumb_down</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="openLikedDialog()">
      <mat-icon matTooltip="Show info (likes & dislikes)" aria-label="Info">poll</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="sharePost()">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)=" toggleComments()">
      <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
    </button>
  </mat-card-actions>
  <div *ngIf="showComments">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
    <div *ngIf="post.comments.length > 0" class="comments-count">
      Just {{post.comments.length}} in all
    </div>
    <app-comment *ngFor="let _comment of post.comments" [comment]="_comment" ></app-comment>
  </div>
</mat-card>
<mat-card *ngIf="currentUser && this.postEditMode">
  <mat-card-header>
    <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
    <mat-card-title>{{post.author.userName}}</mat-card-title>
    <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <div class="avatar-container" (click)="file.click()">
    <input hidden class="file-hide" #file accept="image/*" type="file" (change)="handleFileInput($event.target)">
    <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
    <div class="img-text">
      Upload
    </div>
  </div>
  <form name="postForm" #postForm="ngForm" class="main-content">
    <mat-form-field>
        <textarea name="body" [(ngModel)]="post.body" #body="ngModel" matInput placeholder="Text...">{{post.body}}</textarea>
    </mat-form-field>
  </form>
  <mat-card-actions class="actions-buttons" >
    <div class="buttons">
      <button mat-raised-button color="primary" (click)="saveEditedPost()">
        Save
      </button>
      <button mat-raised-button (click)="cancelEditing()">
        Cancel
      </button>
  </div>
  </mat-card-actions>
</mat-card>
